<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis db 연결정보 세팅 파일 -->
<configuration>

	<!-- 1. sql 실행 결과 EmpVO 매핑 -->
	<typeAliases>
		<typeAlias type="qna.QnAVO" alias="QnAVO" />
		<typeAlias type="notice.NoticeVO" alias="NoticeVO" />
		<typeAlias type="reply.ReplyVO" alias="ReplyVO" />
		<typeAlias type="user.UserVO" alias="userVO" />
		<typeAlias type="user.HistoryJoinVO" alias="historyjoinVO" />
		<typeAlias type="gallery.MusicVO" alias="musicVO" />
		<typeAlias alias="music" type="musiclist.MusicListVO" />
		<typeAlias type="profile.KakaoImageVO" alias="imageVO" />
		<typeAlias type="profile.KakaoMusicVO" alias="PmusicVO" />
		<typeAlias type="profile.KakaoHistoryVO" alias="historyVO" />


	</typeAliases>


</configuration>
<!-- >>>>>>> branch 'master' of https://github.com/multicampusproject/multi.git -->
